<?xml version="1.0"?>
<!--
/**
 * Copyright © Magenx. All rights reserved.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <!-- Measure the GraphQL controller's dispatch and stamp a Server-Timing
         header on the response so the storefront can attribute latency to
         Magento app time vs network. -->
    <type name="Magento\GraphQl\Controller\GraphQl">
        <plugin name="graphQlServerTiming" type="Magenx\GraphQlTiming\Plugin\ServerTimingPlugin"/>
    </type>
</config>
